SBMQtoSQL/SBMQtoSQL/NewFolder/notes.json
{
  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
  "actions": {
    "Condition": {
      "type": "If",
      "expression": "@equals(triggerBody()['Description'], 'Create')",
      "actions": {
        "DBChanges_Post": {
          "type": "Http",
          "inputs": {
            "method": "post",
            "body": {
              "ID": "@triggerBody()['ID']",
              "Description": "@{triggerBody()['Description']}",
              "Owner": "@{triggerBody()['Owner']}",
              "DBchanges": [
                {
                  "key": "@{triggerBody()['DBChanges'].key}",
                  "value": "@{triggerBody()['DBChanges'].value}"
                }
              ]
            },
            "uri": "https://api-webtosql.azurewebsites.net/api/DBChanges"
          },
          "runAfter": {},
          "metadata": {
            "apiDefinitionUrl": "https://api-webtosql.azurewebsites.net/swagger/docs/v1",
            "swaggerSource": "custom"
          }
        }
      },
      "runAfter": {},
      "else": {
        "actions": {
          "HTTP_2": {
            "type": "Http",
            "inputs": {
              "method": "POST",
              "uri": "https://requestb.in/1ktbhev1",
              "headers": "@triggerOutputs()['headers']",
              "body": "@triggerBody()"
            },
            "runAfter": {}
          }
        }
      }
    },
    "HTTP": {
      "type": "Http",
      "inputs": {
        "method": "POST",
        "uri": "http://requestb.in/1ktbhev1",
        "headers": "@triggerOutputs()['headers']",
        "body": "@triggerBody()"
      },
      "runAfter": {
        "Condition": [
          "Succeeded"
        ]
      }
    }
  },
  "parameters": {},
  "triggers": {
    "HTTP_Webhook": {
      "type": "HttpWebhook",
      "inputs": {
        "subscribe": {
          "method": "POST",
          "uri": "http://azureservicebustriggerpoc.azurewebsites.net/trigger/push/subscribe",
          "body": {
            "logicAppInfo": {
              "CallbackUrl": "@{listCallbackUrl()}",
              "Name": "@{workflow().name}",
              "workflowId": "@{workflow().id}"
            },
            "triggerConfig": {
              "QueueName": "devpoctodologicappqueue"
            }
          }
        },
        "unsubscribe": {
          "method": "POST",
          "uri": "http://azureservicebustriggerpoc.azurewebsites.net/trigger/push/unsubscribe",
          "body": {
            "logicAppInfo": {
              "CallbackUrl": "@{listCallbackUrl()}",
              "Name": "@{workflow().name}",
              "workflowId": "@{workflow().id}"
            }
          }
        }
      }
    }
  },
  "contentVersion": "1.0.0.0",
  "outputs": {}
} 
//"@equals(triggerBody()['ContentData']['Description'], 'Create')"  <--NOOOOOOOO
//Unable to process template language expressions for action 'Condition' at line '1' and column '1075': 'The template language expression 'equals(triggerBody().ContentData.Description, 'Create')' 
//cannot be evaluated because property 'Description' cannot be selected. Property selection is not supported on values of type 'String'. Please see https://aka.ms/logicexpressions for usage details.'.
